<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>白と黒</title>
		<link rel="stylesheet" href="/content/css/blackmarisa.css" type="text/css"/>
		<script src="/lib/jquery-1.8.0.js" type="text/javascript"></script>
		<script type='text/javascript' src='/lib/knockout-3.3.0.js'></script>
		<script src="/lib/sliderPhoto.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="container" id="mainContainer">
			<div class="middle clearfix" style="width: 1500px;">
				<div class="float span2" style="height: 100px; ">
					<a class="homeTitle" href="/">SHIRO</a>
				</div>
				<div class="float span8" style="height: 100px;">
					<ul class="navBanner">
						<li id="nav01">
							<a href="/draw_home">
								<span class="title">絵画クラブ</span>
								<span class="subTitle">Draw club</span>
							</a>
						</li>
						<li id="nav02">
							<a href="/acg_home">
								<span class="title">ゲーム＆アニメ</span>
								<span class="subTitle">Game & Anime</span>
							</a>
						</li>
						<li id="nav03">
							<a href="/cg_home">
								<span class="title">CGグループ</span>
								<span class="subTitle">CG group</span>
							</a>
						</li>
						<li id="nav04">
							<a href="/blog_home">
								<span class="title">ブログ</span>
								<span class="subTitle">Blog</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="middle contentContainer" style="width: 1500px;">
				<div class="middle clearfix">
					<!-- left column for article -->
					<!-- ko foreach: htmlContent -->
					<div class="float span8">
						<div class="articleBox miniBox" data-bind="html: $data, attr: {id: $index}"></div>
						<div class="tailBox clickable" onclick="expand(this)" data-bind="attr: {id: $index() + '+'}"><span>Read more</span><div class="glyphicon glyphicon-arrow-down colorful"></div></div>
						<div class="tailBox clickable none" onclick="shrink(this)" data-bind="attr: {id: $index() + '-'}"><span>Retract</span><div class="glyphicon glyphicon-arrow-up colorful"></div></div>
					</div>
					<!-- /ko -->
					<!-- right column for catalog -->
					<div class="float catalog">
						<!-- ko if: (!login()) -->
						<form class="loginForm" action="/login" method="post">
							<input class="textInput" type="text" name="_acc" id="inputAccount" placeholder="Account">
							<input class="textInput" type="password" name="_pwd" id="inputPassword" placeholder="Password">
							<input class="none" type="text" name="_from" id="formHTML" value="/blog_home">
							<input class="buttonInput" type="submit" name="_loginBtn" value="Login">
						</form>
						<!-- /ko -->
						<!-- ko if: (login()) -->
						<img data-bind="attr: {src: avatarURL() }"></img>
						<h1 data-bind="text: username"></h1>
						<div class="subTitle"><h2>Introduce<h2></div>
						<div class="content"><p data-bind="text: introduction"></p></div>
						<div class="subTitle clickable" style="margin: 5px auto;" data-bind="click: function () {addArticle()}"><h2>Add article</h2></div>
						<!-- /ko -->
						<div class="subTitle"><h2>Catalog<h2></div>
						<ul>
							<li><span>All</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/viewmodels/blog_home.js" type="text/javascript"></script>
	<script>
		$("#nav04").addClass("active");
		viewModel.username("<%= userLoginData.username %>");
		viewModel.introduction("<%= userLoginData.introduction %>");
		viewModel.avatarURL("<%= userLoginData.avatarURL %>");
		viewModel.login(<%= userLoginData.login %>);
		viewModel.articles(<%= userLoginData.articles %>);
		viewModel.message("<%= message %>");
		console.log(viewModel.message());
		if (viewModel.message().length > 0) { // new message
			var template = "\
			<div class='footBanner'>\
				<div id='bk'></div>\
				<div id='cxt'>" + viewModel.message() + "</div>\
			</div>";
			$('body').append(template);
			setTimeout(function () {
				$('body').children('.footBanner').remove();
			}, 3000);
		}

		var expand = function (that) {
			$("#" + that.id[0]).removeClass('miniBox');
			$("#" + that.id[0] + "-").removeClass('none');
			$(that).addClass('none');
		}
		var shrink = function (that) {
			$("#" + that.id[0]).addClass('miniBox');
			$("#" + that.id[0] + "+").removeClass('none');
			$(that).addClass('none');
			window.location.href="#" + that.id[0];
		}
	</script>
</html>